.page-wrapper {
  min-height: 100vh;
}

.beers-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.beers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  max-width: 60vw;
  min-height: 70vh;
}

button {
  cursor: pointer;
}