

.beer-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 120px;
  margin: 20px;
  background-color: rgb(196, 196, 196);
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: var(--card-shadow);
}

.beer-card-img {
  max-width: 30px;
  width: auto;
  max-height: 90%;
  height: fit-content;
}

.beer-card-img-container {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}

.beer-card-name {
  text-align: center;
}

.beer-card-tagline {
  text-align: center;
}

.details-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: default;
}