.beer-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  min-height: 100vh;
  /* padding-top: 100px; */
  background-color: whitesmoke;
}

.back-to-page-btn {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  padding: 4px 10px;
  user-select: none;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: rgb(228, 171, 215);
  border-radius: 10px;
  box-shadow: var(--btn-shadow);
  margin-top: 20px;
  transition: all 0.05s;
}

.back-to-page-btn:hover {
  background-color: plum;
}

.back-to-page-btn:active {
  transform: translateY(2px);
  box-shadow: 0 0 0 0;
}

.beer-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.beer-img {
  width: 100px;
}

.beer-name {
  text-align: center;
}

.ingredient {
  width: 100px;
}

.ingredients {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 200px; */
  width: 100%;
}